.ui.grid{
	margin:0;
}
.ui.responsive.grid {
    width:1180px;
	margin:0 auto !important;
}
.ui.header {
	margin-bottom: 0;
}
h1.ui.header{
	font-size:48px;
	letter-spacing:5px;
	color:#323232;
}
h1.ui.header .content .sub.header{
	font-size:22px;
}
.ui.header > .ui.menu {
	background-color: #e10000;
	text-align:center;
}
.ui.header > .ui.menu > .item {
	font-size: 16px;
    height: 60px;
    line-height: 60px;
    padding: 0 3em;
	border-radius: 0;
}
header.ui.header{
	background:#e10000;
}
.ui.header >.ui.menu{
	width:1180px;
	margin:0 auto;
	-webkit-box-shadow: 0 0 0 0px rgba(0,0,0,.1);
	box-shadow: 0 0 0 0px rgba(0,0,0,.1);
}
.ui.header > .ui.menu > .item {
	color: #fff;
}
.ui.header > .ui.menu > .item > img {
	margin-top: 0.5em;
}
.ui.header > .ui.menu > .item:hover,
.ui.header > .ui.menu > .active.item {
	background-color: #fff;
	color: #e10000;
	box-shadow: 0 0 0 inset;
}
.ui.header > .ui.menu > .item:first-child:hover,
.ui.header > .ui.menu > .active.item:first-child {
	background-color: #e10000;
}
.center.aligned{
	text-align:center;
}
.ui.table .item h5.ui.header{
	margin: 1.4em 1.8em 0em;
	padding-bottom: .6em;
	font-size:15px;
}
.ui.table .item h5.ui.header.active{
	border-bottom: 2px solid #e10000;
	color:#e10000;
}
.ui.table .item:hover h5.ui.header{
	border-bottom:2px solid #e10000;
	margin: 1.4em 1.8em 0em;
	padding-bottom: .6em;
	color:#e10000;
	font-size:15px;
}
.ui.table .item{
	font-size:0px !important;
}
.ui.table.grid{
	border-bottom:1px solid #f1f2f5;
	margin-top:.5em;
	margin-bottom: 1em;
}
.ui.table .item{
	min-height:0px !important;
}
.ui.table .ui.four.items .item a{
	text-decoration:none;
	color: #5d6266;
}
.ui.table .item:hover a{
	color:#e10000;
}
.ui.level > .row > .eight.wide:first-child{
	padding-left:115px;
}
.right.aligned{
	float:right;
}
.ui.level a.btn{
	padding: .6em .8em;
	font-size: 14px;
	background: #00b0ff;
	color: #fff;
	text-decoration: none;
	border-radius: 3px;
}

#frslide {
	max-height: 400px;
	position: relative;
}
#frslide > .ui.slide {
	height: 100%;
	width: 100%;
}
#frslide > .ui.slide > .item {
	display: inline-block;
	max-width: 100%;
	float: left;
}
#frslide .pages {
	bottom: 1em;
    margin: 0 auto;
    position: absolute;
    width: 100%;
	text-align: center;
}
#frslide .pages > a {
	background-color: rgba(255,255,255,0.35);
    border-radius: 2em;
    display: inline-block;
    height: 0.65em;
    margin-right: 0.65em;
    text-indent: -999em;
    width: 0.65em;
}
#frslide .pages > a.active,
#frslide .pages > a:hover {
	background-color: rgba(255,255,255,0.75);
}

.ui.products.section {
	margin: 2em auto 0;
}
.ui.items > .item, .ui.items > .row > .item {
	border-bottom: 0 solid rgba(0, 0, 0, 0.2);
	border-radius: 0;
	min-height: 280px;
	padding: 0;
	box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.1);
}
.ui.items > .item:hover, .ui.items > .row > .item:hover {
	box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.1);
}
.ui.two.items > .item {
	margin: 0 0 1%;
}