{%extends 'layout/column.html'%}
{% block page_css %}
<style type="text/css">
	.ui.table .unit {
		
	}
	.attribute {
		margin-top: 0.5em;
	}
</style>
{% endblock %}


{% block content %}
	<div class="ui responsive grid">
		<div class="row">
			<div class="column">
				<div class="ui basic green buttons">
				  	<a class="ui button" href="{{ app_url_admin }}/topic/edit">发布观点</a>
				</div>
				<h3 class="ui header">最新10个话题</h3>
				{% topic_list var:'topics' page:1 size:10 %}
				<table class="ui segment table">
					<thead>
						<tr>
							<th>标题</th>
						</tr>
					</thead>
					
					<tbody>
						{% for topic in topics.rows %}
							<tr>
								<td>
									<a href="{{ topic.view_url }}" title="{{ topic.title }}" class="ui line link">{{ topic.title|truncate 30 }}</a>
									<div class="attribute">
										<span class="category"><a href="{{ topic.category.view_url }}" class="ui link">{{ topic.category.title }}</a></span> | 
										<span class="author">
											<a href="{{ topic.user.home_url }}" class="ui link">{{ topic.user.nickname }}</a>  <i class="time icon"></i>于{{ topic.created_on|relative_datetime }}发表
										</span>
									</div>
								</td>
							</tr>
						{% endfor %}
					</tbody>
				</table>
			</div>
		</div>
		
	</div>
{% endblock %}