<taconite>
	{% if state == 1 %}
	<replace select="#publish-{{ id }}-label">
		<label class="ui blue label" id="publish-{{ id }}-label">已发布</label>
	</replace>
	<replace select="#publish-{{ id }}-button">
		<a href="{{ app_url_admin_base }}/topic/unpublish?id={{ id }}" class="ui red link ajax" id="publish-{{ id }}-button">撤销发布</a>
	</replace>
	{% endif %}
	
	{% if !state %}
	<replace select="#publish-{{ id }}-label">
		<label class="ui orange label" id="publish-{{ id }}-label">未发布</label>
	</replace>
	<replace select="#publish-{{ id }}-button">
		<a href="{{ app_url_admin_base }}/topic/publish?id={{ id }}" class="ui green link ajax" id="publish-{{ id }}-button">发布</a>
	</replace>
	{% endif %}
</taconite>