{%extends 'layout/column.html'%}

{% block page_css %}
<style type="text/css">
 	.ui.men .row:first-child{
		width: 120px !important;
		margin-left: 812px;
	}
	.ui.about.grid{
		padding-top:5rem !important;
		padding-bottom:5rem !important;
	}
	.ui.about.grid .ui.header .sub.header {
		line-height: 2;
		color: rgba(0,0,0,0.7);
	}
	.ui.about.grid .eight.wide p:first-child{
		margin-top:0;
	}
	.ui.about.grid .eight.wide p{
		font-size:16px;
		color: rgba(0,0,0,0.7);
		font-weight: 500;
	}
</style>
{% endblock %}

{% block jquery %}
	
{% endblock %}

{% block content %}
	<div class="ui men grid">
		<div class="ui responsive grid">
			<div class="row">
				<div class="ui one cards">
					<div class="center aligned card">
						<h5 class="ui header active">公司简介</h5>
					</div>
				</div>
			</div>
		</div>
	</div>
	<section class="ui about responsive grid">
		<div class="row">
			<div class="column">
				<h3 class="ui header">
					<div class="content">北京鼎兴商贸有限公司
						<div class="sub header">
							关于本公司
						</div>
					</div>
				</h3>
			</div>
		</div>
		<div class="row">
			<div class="eight wide column">
				<img src="/images/dx_ab.jpg">
			</div>
			<div class="eight wide column">
				<p>鼎兴商贸凭借高强的技术力量和创新的设计理念，开创健康智能新世界。引领数字世界发展的无形力量，鼎兴商贸正在实现这股力量。
				<p>鼎兴，专注于健康、环保以及创新科技产品的研发和孵化；投资建设
				有现代化的工厂，全面实行严格的质量管理体系，并拥有一流的研发
				团队、设计团队和营销团队，已实现从产品创意、研发、生产、销售、
				品牌打造的一体化经营；<br>
				鼎兴，致力于打造一流的品质生活服务平台和创新产品的孵化平台。</p>
			</div>
		</div>
	</section>
{% endblock %}