{%extends 'layout/column.html'%}

{% block page_css %}
<style type="text/css">
	#articles {
		margin: 0em auto 2em;
	}
	.ui.items {
		font-size: 14px;
	}
	.ui.items > .item > .image:not(.ui) {
		width: 440px;
	}
	.ui.secondary.menu {
	    text-align: center;
	}
	.ui.pagination {
		text-align: center;
		border-top: 1px solid rgba(39, 41, 43, 0.15);
		padding: 2em 0;
	}
</style>
{% endblock %}

{% block jquery %}
	
{% endblock %}

{% block content %}
<div id="articles">
	<section class="ui articles responsive grid">
		<div class="row">
			<div class="column">
				{% category_list var:'category' only_open:1 domain:1 pid:current_category._id current:cid show_all:1 %}
				<div class="ui secondary pointing menu">
					{% for cat in category.rows %}
				  	<a class="{{ cat.active }} item" href="{{ app_url_topic }}/c{{ cat._id }}">
				    	{{ cat.title }}
				  	</a>
					{% endfor %}
				</div>
				
				<div class="ui divided items">
					{% topic_list var:'list' page:page category_id:cid %}
					{% for topic in list.rows %}
				  	<div class="item">
				    	<div class="image">
				      	  	<img src="{{ topic.cover.thumbnails.large.view_url }}" />
				    	</div>
				    	<div class="content">
				     		<a class="header" href="{{ topic.view_url }}">{{ topic.title }}</a>
				      	  	<div class="meta">
				        		<span class="cinema">{{ topic.created_on|date 'Y-m-d H:i' }}</span> <i class="unhide icon"></i> {{ topic.view_count }}
				      	  	</div>
				      	  	<div class="description">
				        		{{ topic.strip_description|truncate 350 }}
				      		</div>
				      	  	<div class="extra">
								{% for tag in topic.tags%}
								{% if tag %}
				       		 	<div class="ui horizontal label">{{ tag }}</div>
								{% endif %}
								{% endfor %}
				      	  	</div>
				    	</div>
				  	</div>
					{% endfor %}
				</div>
			</div>
		</div>
		<div class="row">
			<div class="column">
				{% if list.rows %}
				<div class="ui pagination">
					{% pager url:pager_url,total_rows:list.total_rows,total_page:list.total_page,current_page:page,var:'pager',pager_size:9 %}
					{%include 'block/pager.html'%}
				</div>
				{% endif %}
			</div>
		</div>
	</section>
</div>
{% endblock %}