{%extends 'layout/column.html'%}

{% block page_css %}
		<style type="text/css">
			#car img{
				width:100%;
			}
			#car .ui.gary{
				background:#f1f2f5;
			}
			#car .ui.blue{
				background:#76c5ab;
			}
		</style>
		{% endblock %}

		{% block jquery %}

		{% endblock %}

		{% block content %}
		<section class="ui level responsive grid">
			<div class="row">
				<div class="eight wide column">
					<p>贝马卫士</p>
				</div>
				<div class="eight wide column right aligned">
					<p>特色 ｜ 功能 ｜ 参数 ｜ &nbsp;&nbsp;&nbsp;&nbsp;<a href="" class="btn">立即购买</a></p>
				</div>
			</div>
		</section>
		
		<div id="car">
				<img src="/images/products/car_01.jpg">
			<section class="ui responsive grid">
				<img src="/images/products/car_002.jpg">
			</section>
			<section class="ui blue grid">
				<div class="ui responsive grid">
					<img src="/images/products/car_03.jpg">
				</div>
			</section>
			<section class="ui responsive grid">
				<img src="/images/products/car_04.jpg">
			</section>
			<section class="ui gary grid">
				<div class="ui responsive grid">
					<img src="/images/products/car_05.jpg">
				</div>
			</section>
			<section class="ui responsive grid">
				<img src="/images/products/car_06.jpg">
			</section>
		</div>
		
		{% endblock %}