{%extends 'layout/column.html'%}

{% block page_css %}
		<style type="text/css">
			#cm img{
				width:100%;
			}
			#cm .ui.gary{
				background:#f1f2f5;
			}
		</style>
		{% endblock %}

		{% block jquery %}

		{% endblock %}

		{% block content %}
		<section class="ui level responsive grid">
			<div class="row">
				<div class="eight wide column">
					<p>CMAP-086WR 空气净化器</p>
				</div>
				<div class="eight wide column  right aligned">
					<p>特色 ｜ 功能 ｜ 参数 ｜ &nbsp;&nbsp;&nbsp;&nbsp;<a href="" class="btn">立即购买</a></p>
				</div>
			</div>
		</section>
		<div id="cm">
			<img src="/images/products/cm_02.jpg">
			<section class="ui responsive grid">
				<img src="/images/products/cm_03.jpg">
			</section>
			<section class="ui gary grid">
				<div class="ui responsive grid">
					<img src="/images/products/cm_04.jpg">
				</div>
			</section>
			<section class="ui responsive grid">
				<img src="/images/products/cm_05.jpg">
			</section>
			<section class="ui gary grid">
				<div class="ui responsive grid">
					<img src="/images/products/cm_06.jpg">
				</div>
			</section>
			<section class="ui responsive grid">
				<img src="/images/products/cm_07.jpg">
			</section>
			<section class="ui gary grid">
				<div class="ui responsive grid">
					<img src="/images/products/cm_08.jpg">
				</div>
			</section>
			<section class="ui responsive grid">
				<img src="/images/products/cm_09.jpg">
			</section>
			<section class="ui gary grid">
				<div class="ui responsive grid">
					<img src="/images/products/cm_10.jpg">
				</div>
			</section>
			<section class="ui responsive grid">
				<img src="/images/products/cm_11.jpg">
			</section>
			<img src="/images/products/cm_12.jpg">
			<section class="ui responsive grid">
				<img src="/images/products/cm_13.jpg">
			</section>
			<section class="ui gary grid">
				<div class="ui responsive grid">
					<img src="/images/products/cm_14.jpg">
				</div>
			</section>
		</div>
		
		{% endblock %}