{%extends 'layout/column.html'%}

{% block page_css %}
		<style type="text/css">
			body {
			    color: #5d6266;
			    min-width: 320px;
				margin: 0;
				font-size: 14px;
				font-family: "Microsoft YaHei",tahoma,arial,"Hiragino Sans GB",宋体,sans-serif;
			}
			.clearfix:after {content: "."; display: block;clear: both; visibility: hidden;line-height: 0; height: 0;}
			.clearfix {display: inline-table; +display:inline-block;}/* Hides from IE-mac \*/* html .clearfix {height: 1%;}.clearfix {display: block;}
			#ft {
				background: none repeat scroll 0 0 #545454;
				padding: 1em 0 2em;
				color:#fff;
			}
			#ft .ui.list .item {
				display: block;
				font-size: 1em;
				padding: .3em 0;
				letter-spacing: 2px;
			}
			#ft a{
				text-decoration: none;
				color:#fff;
			}
			#ft a:hover {
				text-decoration: underline;
				color:red;
			}
			#ft .ftline{
				display:inline-block;
			}
			#ft .ftline .sina{
				opacity:0;
				position:absolute;
				top:42px;
				-webkit-transition: all .3s ease .1s;
				transition: all .3s ease .1s;
			}
			#ft .ftline:hover .sina{
				opacity:1;
				position:absolute;
				top:42px;
			}
			#ft .fto{
				margin: auto auto 3em!important;
			}
			#ft .copyright {
				font-size: 14px;
				line-height:3.33rem;
			}
			#ft a.ui.link.item {
				font-size: 14px;
			}
			
			
			
			#cm img{
				width:100%;
			}
			#cm .ui.gary{
				background:#f1f2f5;
			}
		</style>
		{% endblock %}

		{% block jquery %}

		{% endblock %}

		{% block content %}
		<section class="ui level responsive grid">
			<div class="row">
				<div class="eight wide column">
					<p>CMAP-086WR 空气净化器</p>
				</div>
				<div class="eight wide column  right aligned">
					<p>特色 ｜ 功能 ｜ 参数 ｜ &nbsp;&nbsp;&nbsp;&nbsp;<a href="" class="btn">立即购买</a></p>
				</div>
			</div>
		</section>
		<div id="cm">
			<img src="/images/products/cm_02.jpg">
			<section class="ui responsive grid">
				<img src="/images/products/cm_03.jpg">
			</section>
			<section class="ui gary grid">
				<div class="ui responsive grid">
					<img src="/images/products/cm_04.jpg">
				</div>
			</section>
			<section class="ui responsive grid">
				<img src="/images/products/cm_05.jpg">
			</section>
			<section class="ui gary grid">
				<div class="ui responsive grid">
					<img src="/images/products/cm_06.jpg">
				</div>
			</section>
			<section class="ui responsive grid">
				<img src="/images/products/cm_07.jpg">
			</section>
			<section class="ui gary grid">
				<div class="ui responsive grid">
					<img src="/images/products/cm_08.jpg">
				</div>
			</section>
			<section class="ui responsive grid">
				<img src="/images/products/cm_09.jpg">
			</section>
			<section class="ui gary grid">
				<div class="ui responsive grid">
					<img src="/images/products/cm_10.jpg">
				</div>
			</section>
			<section class="ui responsive grid">
				<img src="/images/products/cm_11.jpg">
			</section>
			<img src="/images/products/cm_12.jpg">
			<section class="ui responsive grid">
				<img src="/images/products/cm_13.jpg">
			</section>
			<section class="ui gary grid">
				<div class="ui responsive grid">
					<img src="/images/products/cm_14.jpg">
				</div>
			</section>
		</div>
		
		{% endblock %}