{%extends 'layout/column.html'%}

{% block page_css %}
<style type="text/css">
	.ui.men .row:first-child{
		width: 120px !important;
		margin-left: 970px;
	}
	.ui.content.grid{
		padding-top:4% !important;
		padding-bottom:5% !important;
	}
	.ui.content.grid .ui.header .sub.header {
		line-height: 2;
		color: rgba(0,0,0,.7);
	}
	.ui.content.grid .eight.wide h4{
		font-size:1.17rem;
	}
	.ui.content.grid .eight.wide h4+p{
		margin-top:0;
		line-height: 23px;
		font-size:16px;
	}
	
	#ft {
		background: none repeat scroll 0 0 #545454;
		padding: 1em 0 2em;
		color:#fff;
	}
	#ft .ui.list .item {
		display: block;
		font-size: 1em;
		padding: 0.3em 0;
		letter-spacing: 2px;
	}
	#ft a{
		text-decoration: none;
		color:#fff;
	}
	#ft a:hover {
		text-decoration: underline;
		color:red;
	}
	#ft .ftline{
		display:inline-block;
	}
	#ft .ftline .sina{
		opacity:0;
		position:absolute;
		top:42px;
		-webkit-transition: all 0.3s ease 0.1s;
		transition: all 0.3s ease 0.1s;
	}
	#ft .ftline:hover .sina{
		opacity:1;
		position:absolute;
		top:42px;
	}
	#ft .fto{
		margin: auto auto 3em!important;
	}
	#ft .copyright {
		font-size: 14px;
		line-height:3.33rem;
	}
	#ft a.ui.link.item {
		font-size: 14px;
	}
</style>
{% endblock %}

{% block jquery %}
	
{% endblock %}

{% block content %}
	<div class="ui men grid">
		<div class="ui responsive grid">
			<div class="row">
				<div class="ui one cards">
					<div class="center aligned card">
						<h5 class="ui header active">联系我们</h5>
					</div>
				</div>
			</div>
		</div>
	</div>
	<section class="ui content responsive grid">
		<div class="row">
			<div class="column">
				<h3 class="ui header">
					<div class="content">联系我们
						<div class="sub header">
							鼎兴商贸
						</div>
					</div>
				</h3>
			</div>
		</div>
		<div class="row">
			<div class="eight wide column">
				<img src="/images/dx_ct.jpg">
			</div>
			<div class="eight wide column">
				<h4>北京鼎兴商贸有限公司</h4>
				<p>北京市海淀区清华东路35号北京林业大学学研大厦C0204<br>
					Zip:  100083<br>
					Tel:  010 62660503<br>
					Web:www.topct.cn <br>    
					<img src="/images/dx_ct1.jpg" width="3%">  400-6180-680
					
					
				</p>
				<p>E-Mail:  service@topct.cn</p>
			</div>
		</div>
	</section>
{% endblock %}