{%extends 'layout/column.html'%}

{% block page_css %}
		<style type="text/css">
			#dkl img{
				width:100%;
			}
			#dkl .ui.gary{
				background:#f1f2f5;
			}
			#dkl .ui.bg.grid{
				background:url(/images/products/dkl-bg.jpg) no-repeat center center /cover;
			}
			#dkl .ui.bg-1.grid{
				background:url(/images/products/dkl-bg1.jpg) no-repeat center center /cover;
			}
		</style>
		{% endblock %}

		{% block jquery %}

		{% endblock %}

		{% block content %}
			<section class="ui level responsive grid">
				<div class="row">
					<div class="eight wide column">
						<p>CS-430WR 空气净化器</p>
					</div>
					<div class="eight wide column right aligned">
						<p>特色 ｜ 功能 ｜ 参数 ｜ &nbsp;&nbsp;&nbsp;&nbsp;<a href="" class="btn">立即购买</a></p>
					</div>
				</div>
			</section>
		<div id="dkl">
			<section class="ui gary grid">
				<div class="ui responsive grid">
					<img src="/images/products/dkl_01.jpg">
				</div>
			</section>
			<section class="ui responsive grid">
				<img src="/images/products/dkl_02.jpg">
			</section>
			<section class="ui gary grid">
				<div class="ui responsive grid">
					<img src="/images/products/dkl_03.jpg">
				</div>
			</section>
			<section class="ui responsive grid">
				<img src="/images/products/dkl_04.jpg">
			</section>
			<section class="ui gary grid">
				<div class="ui responsive grid">
					<img src="/images/products/dkl_05.jpg">
				</div>
			</section>
			<section class="ui grid bg-1">
				<div class="ui responsive grid">
					<img src="/images/products/dkl_06.jpg">
				</div>
			</section>
			<section class="ui grid bg">
				<div class="ui responsive grid">
					<img src="/images/products/dkl_07.jpg">
				</div>
			</section>
			<section class="ui responsive grid">
				<img src="/images/products/dkl_08.jpg">
			</section>
			<section class="ui gary grid">
				<div class="ui responsive grid">
					<img src="/images/products/dkl_09.jpg">
				</div>
			</section>
			<section class="ui responsive grid">
				<img src="/images/products/dkl_10.jpg">
			</section>
			<section class="ui gary grid">
				<div class="ui responsive grid">
					<img src="/images/products/dkl_11.jpg">
				</div>
			</section>
			<section class="ui responsive grid">
				<img src="/images/products/dkl_12.jpg">
			</section>
			<section class="ui gary grid">
				<div class="ui responsive grid">
					<img src="/images/products/dkl_13.jpg">
				</div>
			</section>
			<section class="ui responsive grid">
				<img src="/images/products/dkl_14.jpg">
			</section>
			<section class="ui gary grid">
				<div class="ui responsive grid">
					<img src="/images/products/dkl_15.jpg">
				</div>
			</section>
			<section class="ui responsive grid">
				<img src="/images/products/dkl_16.jpg">
			</section>
			<section class="ui gary grid">
				<div class="ui responsive grid">
					<img src="/images/products/dkl_17.jpg">
				</div>
			</section>
			<section class="ui responsive grid">
				<img src="/images/products/dkl_18.jpg">
			</section>
			<section class="ui gary grid">
				<div class="ui responsive grid">
					<img src="/images/products/dkl_19.jpg">
				</div>
			</section>
			<section class="ui responsive grid">
				<img src="/images/products/dkl_20.jpg">
			</section>
			<section class="ui gary grid">
				<div class="ui responsive grid">
					<img src="/images/products/dkl_21.jpg">
				</div>
			</section>
			<section class="ui responsive grid">
				<img src="/images/products/dkl_22.jpg">
			</section>
			<section class="ui gary grid">
				<div class="ui responsive grid">
					<img src="/images/products/dkl_23.jpg">
				</div>
			</section>
			<section class="ui responsive grid">
				<img src="/images/products/dkl_24.jpg">
			</section>
			<section class="ui gary grid">
				<div class="ui responsive grid">
					<img src="/images/products/dkl_25.jpg">
				</div>
			</section>
			
		</div>
		
		{% endblock %}