{%extends 'layout/auth.html'%}
{% block title %}现在登录-{% endblock %}
{% block page_css %}
<style type="text/css">
	.ui.responsive.grid {
		padding: 10% 20%;
	}
</style>
{% endblock %}

{% block jquery %}
	topct.build_auth_page();
{% endblock %}

{% block content %}
<div class="ui responsive grid">
	<div class="row">
		<div class="column">
			
			<form action="{{ app_url_action_base }}/auth/do_login" class="ui form segment" method="post" id="login-form">
				<input type="hidden" name="t" value="{{ login_token }}" />
				<h3 class="ui header">现在登录</h3>
				<div class="field">
				  	<input type="text" name="account" placeholder="邮箱" />
				</div>
				<div class="field">
				  	<input type="password" name="password" id="password" placeholder="密码" />
				</div>
				<div class="inline field">
					<div class="ui checkbox">
			          	<input type="checkbox" name="terms" checked="checked">
			          	<label>自动登录</label>
			        </div>
				</div>
	
				<div class="field">
					<div class="fluid ui active green submit button" >登录</div>
				</div>
			</form>
			
		</div>
	</div>
</div>
{% endblock %}




