{%extends 'layout/column.html'%}

{% block page_css %}
<style type="text/css">
	a {
		text-decoration: none;
	}
	a:hover .sub.header{
		color:red !important;
	}
	a .sub.header{
		color:#dc5a5a !important;
		font-size:22px;
		margin: 10px auto 15px;
	}
	.ui.gray.section{
		background:#f1f2f5;
	}
	.image img{
		max-width:100%;
		margin-bottom: -4px;
	}
	/*#products .ui.section{
		margin:2em auto 2em;
	}*/
	.ui.table .row:first-child,.ui.men.grid .row:first-child{
		margin-left:340px;
		width:520px !important;
	}
	
	.ui.table{
		margin:.5em 0 6rem;
	}
	.ui.table .ui.four.cards .card{
		min-height:0;
	}
	.p-air{
		width: 125px;
		height: 125px;
	}
	.p-air .cm{
		width: 85px;
		height: 115px;
		background:url(/images/p_1.jpg);
		position:absolute;
		left:19px;
		top:10px;
	}
	.p-air .lcm{
		width: 85px;
		height: 115px;
		background:url(/images/p_2.jpg);
		position:absolute;
		left:19px;
		top:10px;
	}
	.p-air .xkl{
		width: 85px;
		height: 115px;
		background:url(/images/p_3.jpg);
		position:absolute;
		left:19px;
		top:10px;
	}
	.p-air .dkl{
		width: 85px;
		height: 115px;
		background:url(/images/p_4.jpg);
		position:absolute;
		left:19px;
		top:10px;
	}
	
	
</style>
{% endblock %}

{% block jquery %}
	
{% endblock %}

{% block content %}
	<div class="ui men grid">
		<div class="ui responsive grid">
			<div class="row">
				<div class="ui four cards">
					<div class="center aligned card">
					  	<a class="active" href="#">
					    	<h5 class="ui header">空净产品</h5>
					  	</a>
					</div>
					<div class="center aligned card">
					  	<a class="" href="#">
					    	<h5 class="ui header">消毒产品</h5>
					  	</a>
					</div>
					<div class="center aligned card">
					  	<a class="" href="#">
					    	<h5 class="ui header">饮用产品</h5>
					  	</a>
					</div>
					<div class="center aligned card">
					  	<a class="" href="#">
					    	<h5 class="ui header">智能家居</h5>
					  	</a>
					</div>
				</div>
			</div>
		</div>
	</div>
	
	<div class="ui table">
		<div class="ui responsive grid">
			<div class="row">
				<div class="ui four cards">
					<div class="center aligned card">
						<div class="p-air">
							<a href="{{ app_url_domain }}/site/cm"><div class="cm"></div></a>
						</div>
					</div>
					<div class="center aligned card">
						<div class="p-air">
							<a href="{{ app_url_domain }}/site/lcm"><div class="lcm"></div></a>
						</div>
					</div>
					<div class="center aligned card">
						<div class="p-air">
							<a href="{{ app_url_domain }}/site/xkl"><div class="xkl"></div></a>
						</div>
					</div>
					<div class="center aligned card">
						<div class="p-air">
							<a href="{{ app_url_domain }}/site/dkl"><div class="dkl"></div></a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	
	<div id="products">
		<section class="ui lm section">
			<div class="ui responsive grid">
				<div class="row">
					<div class="center aligned column">
						<div class="image">
							<img src="/images/dx_p5.jpg">
						</div>
						<h3 class="ui header">
							<a href="{{ app_url_domain }}/site/cm">
								<div class="sub header">
									进一步了解产品 >
								</div>
							</a>
						</h3>
						<div class="image">
							<img src="/images/dx_p2.jpg">
						</div>
					</div>
				</div>
			</div>
		</section>
		<section class="ui gray section">
			<div class="ui responsive grid">
				<div class="row">
					<div class="center aligned column">
						<div class="image">
							<img src="/images/dx_p6.png">
						</div>
						<h3 class="ui header">
							<a href="{{ app_url_domain }}/site/lcm">
								<div class="sub header">
									进一步了解产品 >
								</div>
							</a>
						</h3>
						<div class="image">
							<img src="/images/dx_p4.png">
						</div>
					</div>
				</div>
			</div>
		</section>
		<section class="ui small section">
			<div class="ui responsive grid">
				<div class="row">
					<div class="eight wide column">
						<div class="image">
							<img src="/images/dx_p7.jpg">
						</div>
					</div>
					<div class="eight wide column">
						<div class="image">
							<img src="/images/dx_p8.jpg">
						</div>
						<!--<div class="image">
							<a href=""><img src="/images/1.jpg"></a>
						</div>-->
						<h3 class="ui header">
							<a href="{{ app_url_domain }}/site/xkl">
								<div class="sub header">
									进一步了解产品 >
								</div>
							</a>
						</h3>
					</div>
				</div>
			</div>
		</section>
		<section class="ui gray section">
			<div class="ui responsive grid">
				<div class="row">
					<div class="eight wide column">
						<div class="image">
							<img src="/images/dx_p9.png">
						</div>
						<h3 class="ui header">
							<a href="{{ app_url_domain }}/site/dkl">
								<div class="sub header">
									进一步了解产品 >
								</div>
							</a>
						</h3>
					</div>
					<div class="eight wide column">
						<div class="image">
							<img src="/images/dx_p10.png">
						</div>
					</div>
				</div>
			</div>
		</section>
		<section class="ui section">
			<div class="ui responsive grid">
				<div class="row">
					<div class="eight wide column">
						<div class="image">
							<img src="/images/dx_p11.jpg">
						</div>
					</div>
					<div class="eight wide column">
						<div class="image">
							<img src="/images/dx_p12.jpg">
						</div>
						<h3 class="ui header">
							<a href="{{ app_url_domain }}/site/water">
								<div class="sub header">
									进一步了解产品 >
								</div>
							</a>
						</h3>
					</div>
				</div>
			</div>
		</section>
		<section class="ui gray section">
			<div class="ui responsive grid">
				<div class="row">
					<div class="eight wide column">
						<div class="image">
							<img src="/images/dx_p13.png">
						</div>
						<h3 class="ui header">
							<a href="{{ app_url_domain }}/site/car">
								<div class="sub header">
									进一步了解产品 >
								</div>
							</a>
						</h3>
					</div>
					<div class="eight wide column">
						<div class="image">
							<img src="/images/dx_p14.png">
						</div>
					</div>
				</div>
			</div>
		</section>
		<section class="ui section">
			<div class="ui responsive grid">
				<div class="row">
					<div class="eight wide column">
						<div class="image">
							<img src="/images/dx_p15.jpg">
						</div>
					</div>
					<div class="eight wide column">
						<div class="image">
							<img src="/images/dx_p16.jpg">
						</div>
						<h3 class="ui header">
							<a href="">
								<div class="sub header">
									进一步了解产品 >
								</div>
							</a>
						</h3>
					</div>
				</div>
			</div>
		</section>
	</div>
{% endblock %}