{%extends 'layout/column.html'%}

{% block page_css %}
<style type="text/css">
	#ft {
		background: none repeat scroll 0 0 #545454;
		padding: 1em 0 2em;
		color:#fff;
	}
	#ft .ui.list .item {
		display: block;
		font-size: 1em;
		padding: 0.3em 0;
		letter-spacing: 2px;
	}
	#ft a{
		text-decoration: none;
		color:#fff;
	}
	#ft a:hover {
		text-decoration: underline;
		color:red;
	}
	#ft .ftline{
		display:inline-block;
	}
	#ft .ftline .sina{
		opacity:0;
		position:absolute;
		top:42px;
		-webkit-transition: all 0.3s ease 0.1s;
		transition: all 0.3s ease 0.1s;
	}
	#ft .ftline:hover .sina{
		opacity:1;
		position:absolute;
		top:42px;
	}
	#ft .fto{
		margin: auto auto 3em!important;
	}
	#ft .copyright {
		font-size: 14px;
		line-height:3.33rem;
	}
	#ft a.ui.link.item {
		font-size: 14px;
	}
	
	.buildpage {
		min-height: 580px;
	}
</style>
{% endblock %}

{% block jquery %}
	
{% endblock %}

{% block content %}
<div class="buildpage">
	<center>
		<h2 class="building">
			正在建设中
		</h2>
	</center>
</div>
{% endblock %}