{%extends 'layout/column.html'%}

{% block page_css %}
<style type="text/css">
	.ui.men .row:first-child{
		margin-left:460px;
		width:570px !important;
	}
	.ui.topic .uyan{
		background:url(/images/cm_p3.jpg);
		height:21px;
		width:21px;
		display: inline-block;
		float: left;
	}
	.ui.topic .mess{
		background:url(/images/cm_p4.jpg);
		height:21px;
		width:21px;
		display: inline-block;
		float: left;
	}
	.ui.topic .like{
		background:url(/images/cm_p5.jpg);
		height:21px;
		width:21px;
		display: inline-block;
		float: left;
	}
	.ui.topic .text{
		font-size: 14px;
		display: inline-block;
		float: left;
		line-height: 21px;
		padding:0 8px 0 5px;
		color: rgba(0,0,0,.4);
	}
	.ui.topic .world {
		display: block;
		clear: both;
		font-size: 15px;
		color: rgba(0,0,0,.4);
		padding-top: 10px;
	}
	.ui.topic .advantage {
		padding-top: 10px;
	}
	.ui.topic{
		padding:24px 0 !important;
	}
	.ui.topic > .row {
		padding-bottom: 1rem;
		border-bottom: 1px solid rgba(0,0,0,0.1);
	}
	.ui.topic > .row > .column {
		padding-left: 0rem;
		padding-right: 0rem;
	}
	.ui.topic > .row > .column > .image {
		padding-right: 1.5rem;
	}
	.ui.grid .noresult {
		min-height: 500px;
		margin-top: 2em;
	}
	.ui.pagination {
		text-align: center;
		padding: 1em 0 2em;
	}
</style>
{% endblock %}

{% block jquery %}

{% endblock %}

{% block content %}
<div class="ui men grid">
	<div class="ui responsive grid">
		<div class="row">
			{% category_list var:'category' only_open:1 domain:1 pid:current_category._id current:cid show_all:1 %}
			<div class="ui five cards">
				{% for cat in category.rows %}
				<div class="center aligned card">
				  	<a class="{{ cat.active }}" href="{{ app_url_topic }}/c{{ cat._id }}">
				    	<h5 class="ui header">{{ cat.title }}</h5>
				  	</a>
				</div>
				{% endfor %}
			</div>
		</div>
	</div>
</div>

{% topic_list var:'list' page:page category_id:cid state:1 %}
{% if list.rows %}
<div class="ui topic responsive grid">
	{% for topic in list.rows %}
	<div class="row">
		<div class="eight wide column">
			<div class="ui image">
	    		<img src="{{ topic.cover.thumbnails.large.view_url }}" alt="{{ topic.title }}" />
			</div>
		</div>
		<div class="eight wide column">
			<div class="content">
				<h3 class="ui header">
					<a class="header" href="{{ topic.view_url }}">{{ topic.title|truncate 50 }}</a>
					<div class="advantage">
						<div class="text">{{ topic.created_on|date 'Y-m-d H:i' }}</div>
						<div class="uyan"></div>
						<div class="text">{{ topic.view_count }}</div>
					</div>
				</h3>
				<div class="world">{{ topic.strip_description|truncate 350 }}</div>
			</div>
		</div>
	</div>
	{% endfor %}
</div>
<div class="ui responsive grid">
	<div class="row">
		<div class="center aligned column">
			<div class="ui pagination">
				{% pager url:pager_url,total_rows:list.total_rows,total_page:list.total_page,current_page:page,var:'pager',pager_size:9 %}
				{%include 'block/pager.html'%}
			</div>
		</div>
	</div>
</div>
{% else %}
<div class="ui responsive grid">
	<div class="row">
		<div class="center aligned column">
			<div class="noresult">
				<div class="ui warning message">该分类暂时没有内容！</div>
			</div>
		</div>
	</div>
</div>
{% endif %}

{% endblock %}
		
		
		
		
		
