{%extends 'layout/column.html'%}

{% block page_css %}
		<style type="text/css">
			.ui.men .row:first-child{
				margin-left:490px;
				width:472px !important;
			}
			.ui.topic .uyan{
				background:url(/images/cm_p3.jpg);
				height:21px;
				width:21px;
				display: inline-block;
				float: left;
			}
			.ui.topic .mess{
				background:url(/images/cm_p4.jpg);
				height:21px;
				width:21px;
				display: inline-block;
				float: left;
			}
			.ui.topic .like{
				background:url(/images/cm_p5.jpg);
				height:21px;
				width:21px;
				display: inline-block;
				float: left;
			}
			.ui.topic .text{
				font-size: 14px;
				display: inline-block;
				float: left;
				line-height: 21px;
				padding:0 8px 0 5px;
				color: rgba(0,0,0,.4);
			}
			.ui.topic .world {
				display: block;
				clear: both;
				font-size: 15px;
				color: rgba(0,0,0,.4);
				padding-top: 10px;
			}
			.ui.topic .advantage {
				padding-top: 10px;
			}
			.ui.topic{
				padding:24px 0 !important;
			}
			
		
		</style>
		{% endblock %}

		{% block jquery %}

		{% endblock %}

		{% block content %}
		
		<div class="ui men grid">
			<div class="ui responsive grid">
				<div class="row">
					<div class="ui four cards">
						<div class="center aligned card">
							<a href="articles.html"><h5 class="ui header">评测</h5></a>
						</div>
						<div class="center aligned card">
							<a href="{{ app_url_domain }}/site/try"><h5 class="ui header">试用体验</h5></a>
						</div>
						<div class="center aligned card">
							<h5 class="ui header active">产品动态</h5>
						</div>
						<div class="center aligned card">
							<h5 class="ui header">线下活动</h5>
						</div>
					</div>
				</div>
			</div>
		</div>
		
		<section class="ui topic responsive grid">
			<div class="row">
				<div class="eight wide column">
					<img src="/images/cm_t.jpg">
				</div>
				<div class="eight wide column">
					<div class="content">
						<h3 class="ui header">
							酷品推荐】Pawly宠物智能玩具：让你与宠物心贴心
							<div class="advantage">
								<div class="text">2014-09-23  &nbsp;&nbsp;13:20&nbsp;&nbsp;</div>
								<div class="uyan"></div>
								<div class="text">123</div>
								<div class="mess"></div>
								<div class="text">22</div>
								<div class="like"></div>
								<div class="text">12</div>
								<div class="world">作为首款家庭智能影院，坚果G1采用了行业顶尖的DLP优质光学投影，可以为用户提供最高达300寸的巨幅影像，支持1080P全高清视频，还可播放3D蓝光片源。笔者第一时间拿到了坚果工程机，为大家带来高清美图和详细评测！</div>
							</div>
						</h3>
					</div>
				</div>
			</div>
		</section>
		<section class="ui topic responsive grid">
			<div class="row">
				<div class="eight wide column">
					<img src="/images/cm_t.jpg">
				</div>
				<div class="eight wide column">
					<div class="content">
						<h3 class="ui header">
							酷品推荐】Pawly宠物智能玩具：让你与宠物心贴心
							<div class="advantage">
								<div class="text">2014-09-23  &nbsp;&nbsp;13:20&nbsp;&nbsp;</div>
								<div class="uyan"></div>
								<div class="text">123</div>
								<div class="mess"></div>
								<div class="text">22</div>
								<div class="like"></div>
								<div class="text">12</div>
								<div class="world">作为首款家庭智能影院，坚果G1采用了行业顶尖的DLP优质光学投影，可以为用户提供最高达300寸的巨幅影像，支持1080P全高清视频，还可播放3D蓝光片源。笔者第一时间拿到了坚果工程机，为大家带来高清美图和详细评测！</div>
							</div>
						</h3>
					</div>
				</div>
			</div>
		</section>
		<section class="ui topic responsive grid">
			<div class="row">
				<div class="eight wide column">
					<img src="/images/cm_t.jpg">
				</div>
				<div class="eight wide column">
					<div class="content">
						<h3 class="ui header">
							酷品推荐】Pawly宠物智能玩具：让你与宠物心贴心
							<div class="advantage">
								<div class="text">2014-09-23  &nbsp;&nbsp;13:20&nbsp;&nbsp;</div>
								<div class="uyan"></div>
								<div class="text">123</div>
								<div class="mess"></div>
								<div class="text">22</div>
								<div class="like"></div>
								<div class="text">12</div>
								<div class="world">作为首款家庭智能影院，坚果G1采用了行业顶尖的DLP优质光学投影，可以为用户提供最高达300寸的巨幅影像，支持1080P全高清视频，还可播放3D蓝光片源。笔者第一时间拿到了坚果工程机，为大家带来高清美图和详细评测！</div>
							</div>
						</h3>
					</div>
				</div>
			</div>
		</section>
		
{% endblock %}
		
		
		
		
		
