{%extends 'layout/column.html'%}

{% block page_css %}
		<style type="text/css">
			#water img{
				width:100%;
			}
			#water .ui.gary{
				background:#f1f2f5;
			}
		</style>
		{% endblock %}

		{% block jquery %}

		{% endblock %}

		{% block content %}
		<section class="ui level responsive grid">
			<div class="row">
				<div class="eight wide column">
					<p>卓玛泉</p>
				</div>
				<div class="eight wide column right aligned">
					<p>特色 ｜ 功能 ｜ 参数 ｜ &nbsp;&nbsp;&nbsp;&nbsp;<a href="" class="btn">立即购买</a></p>
				</div>
			</div>
		</section>
		
		<div id="water">
				<img src="/images/products/water_01.jpg">
			<section class="ui responsive grid">
				<img src="/images/products/water_02.jpg">
			</section>
			<section class="ui gary grid">
				<div class="ui responsive grid">
					<img src="/images/products/water_03.jpg">
				</div>
			</section>
			<section class="ui responsive grid">
				<img src="/images/products/water_04.jpg">
			</section>
			<section class="ui gary grid">
				<div class="ui responsive grid">
					<img src="/images/products/water_05.jpg">
				</div>
			</section>
			<section class="ui responsive grid">
				<img src="/images/products/water_06.jpg">
			</section>
			<section class="ui gary grid">
				<div class="ui responsive grid">
					<img src="/images/products/water_07.jpg">
				</div>
			</section>
		</div>
		
		{% endblock %}