{%extends 'layout/column.html'%}

{% block page_css %}
		<style type="text/css">
			#xkl img{
				width:100%;
			}
			#xkl .ui.gary{
				background:#f1f2f5;
			}
			#xkl .ui.black{
				background:#000;
			}
		</style>
		{% endblock %}

		{% block jquery %}

		{% endblock %}

		{% block content %}
		<section class="ui level responsive grid">
			<div class="row">
				<div class="eight wide column">
					<p>CS-083WR 空气净化器</p>
				</div>
				<div class="eight wide column right aligned">
					<p>特色 ｜ 功能 ｜ 参数 ｜ &nbsp;&nbsp;&nbsp;&nbsp;<a href="" class="btn">立即购买</a></p>
				</div>
			</div>
		</section>
		
		<div id="xkl">
				<img src="/images/products/xkl_01.jpg">
			<section class="ui gary grid">
				<div class="ui responsive grid">
					<img src="/images/products/xkl_02.jpg">
				</div>
			</section>
			<section class="ui responsive grid">
				<img src="/images/products/xkl_03.jpg">
			</section>
			<section class="ui gary grid">
				<div class="ui responsive grid">
					<img src="/images/products/xkl_04.jpg">
				</div>
			</section>
			<section class="ui responsive grid">
				<img src="/images/products/xkl_05.jpg">
			</section>
			<section class="ui black grid">
				<div class="ui responsive grid">
					<img src="/images/products/xkl_06.jpg">
				</div>
			</section>
			<section class="ui responsive grid">
				<img src="/images/products/xkl_08.jpg">
			</section>
			<section class="ui gary grid">
				<div class="ui responsive grid">
					<img src="/images/products/xkl_09.jpg">
				</div>
			</section>
			<section class="ui responsive grid">
				<img src="/images/products/xkl_10.jpg">
			</section>
		</div>
		
		{% endblock %}